@import "./../../../../public/css/variables";

.flight {
    background-color: @lightColor;
    border-radius: 10px;
    border: 2px solid @baseColor;
    color: #fff;
    display: block;
    min-height: 50px;
    margin: 10px 5%;
    width: 90%;

    &-departure,
    &-arrival {
        margin: 5px 0;
    }

    .label {
        color: #dedede;
        width: 100px;
    }

    .date {
        margin-right: 20px;

        @media all and (max-width: 960px) {
            margin-right: 10px;
        }
    }

    &-time {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        width: calc(~'66% - 10px');
    }

    &-price {
        box-sizing: border-box;
        color: @alternativeColor;
        display: inline-block;
        font-size: @xlargeFontSize;
        padding-right: 10px;
        padding: 0 10px;
        text-align: right;
        vertical-align: middle;
        width: 33%;

        @media all and (max-width: 960px) {
            font-size: @mobile-xlargeFontSize;
        }        
    }

    &:hover {
        background-color: darken(@lightColor, 10);
    }

    &.selectedFlight {
        background-color: @alternativeColor;
        color: @baseColor;

        .label {
            color: @lightColor;
        }


        .flight-price {
            color: @baseColor;   
        } 
    }
}