

.possible-flights {
    display: block;
    margin: 20px auto 0;
    width: 90%;

    &-title {
        color: @baseColor;
        text-align: center;
    }

    &-flight {
        &:first-child {
            display: block;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
}