<flight-parameters *ngIf="!showFlights">
    <div class="row route-type">
        <div class="btn-group">
            <label class="btn btn-primary" [(ngModel)]="twoWayTicket" btnRadio="true" (click)="changeFlightType(true)" ngDefaultControl>Two-way ticket</label>
            <label class="btn btn-primary" [(ngModel)]="twoWayTicket" btnRadio="false" (click)="changeFlightType(false)" ngDefaultControl>One-way ticket</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <departure-selector class="airport-selector" (onChange)="selectEvent($event, 'departure')" [departureCity]="departureCity">
            </departure-selector>
        </div>
        <div class="col-xs-12 col-lg-6">
            <arrival-selector class="airport-selector" [departureSelect]="!isDepartureSelect" (onChange)="selectEvent($event, 'arrival')" [directCity]="arrivalCity">
            </arrival-selector>
        </div>
    </div>
    <possible-routes *ngIf="possibleRoutesisShown" class="possible-cities">
        <h5 class="possible-cities-title"> Direct flights from {{ departureCity }}: </h5>
        <possible-city *ngFor="let city of possibleRoutes" class="possible-cities-city" [city]=city (citySelect)="directSelect($event)">
        </possible-city>
    </possible-routes>
</flight-parameters>