<flight-parameters *ngIf="!gotFlights">
    <departure-selector class="airport-selector" (onChange)="citySelect($event, 'departure')" [departureCity]="departureCity">
    </departure-selector>
    <arrival-selector class="airport-selector" [ngClass]="{'enabled': isDepartureSelect}" [departureSelect]="!isDepartureSelect" (onChange)="citySelect($event, 'arrival')" [directCity]="arrivalCity">
    </arrival-selector>
    <possible-routes *ngIf="possibleRoutesisShown" class="possible-cities">
        <h5 class="possible-cities-title"> Direct flights from {{ departureCity }}: </h5>
        <possible-city *ngFor="let city of possibleRoutes" class="possible-cities-city" [city]=city (citySelect)="directSelect($event)">
        </possible-city>
    </possible-routes>
    <departure-date-picker class="day-selector" *ngIf="isArrivalSelect" (onChange)="dateSelect($event, 'departure')">
    </departure-date-picker>
    <arrival-date-picker class="day-selector" *ngIf="isArrivalSelect && twoWayTicket" (onChange)="dateSelect($event, 'arrival')">
    </arrival-date-picker>
    <button *ngIf="isArrivalSelect" type="button" class="start-search-button btn btn-primary" (click)="searchFlights($event)">Search</button>
</flight-parameters>
<possible-to-flights *ngIf="gotFlights" class="possible-flights">
    <h4 class="possible-flights-title"> Found next flight from {{ departureCity }} to {{ arrivalCity }}</h4>
    <possible-to-flight *ngFor="let flight of possibleToFlights" class="possible-flights-flight" [flight]=flight>
    </possible-to-flight>
    <button type="button" class="new-search-button btn btn-primary" (click)="newSearch($event)">Start new search</button>
    <button type="button" class="edit-search-button btn btn-primary" (click)="editSearch($event)">Edit current search</button>
</possible-to-flights>
<possible-from-flights *ngIf="gotFlights && twoWayTicket" class="possible-flights">
    <h4 class="possible-flights-title"> Found next flight from {{ arrivalCity }} to {{ departureCity }}</h4>
    <possible-from-flight *ngFor="let flight of possibleFromFlights" class="possible-flights-flight" [flight]=flight>
    </possible-from-flight>
    <button type="button" class="new-search-button btn btn-primary" (click)="newSearch($event)">Start new search</button>
    <button type="button" class="edit-search-button btn btn-primary" (click)="editSearch($event)">Edit current search</button>
</possible-from-flights>